#!/usr/bin/env python3

from datetime import date

# Config file with sensitive data

# should be stripping this text to make search a bit more broad
searchWord = ""

# Place custom URL here, currently this script isn't adaptable, so static only!
fileURL = ""

# Email Account Info
email_sender_account = ""
email_sender_username = ""
# Plaintext very BAD, don't do it!
email_sender_password = ""
email_smtp_server = ""
email_smtp_port = 587

# Email Content
email_recipients = [""]
email_subject = ""
email_body = ""